.container {
    display: flex;
    flex-direction: column;
    gap : 8px;
}
.label {
    position: relative;
    margin: 20px 0px 20px 60px;
    font-size: 1rem;
    font-weight: 400;
    color: #aaa;
}

.label::before {
    position: absolute;
    content: "";
    top: 50%;
    background-color: var(--green);
    width: 10px;
    height: 4px;
    left: -35px;
    border-radius: 10%;
}

.cellReferencer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
    touch-action: pan-x;
}
.cell {
    height: 2.5em;
    background-color: #222;
    border: 1px solid black;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
}
.cell-text {
    font-size: 0.8em;
    font-weight:800;
}

@media screen and (max-width : 900px) {
    .cellReferencer-container {
        font-size: 14px;
    }
}

@media screen and (max-width : 600px) {
    .cellReferencer-container {
        font-size: 12px;
    }
}

