.neck { 
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    font-size: 1em;
}

.string {
    display: flex;
    flex-direction: row;
    height: 4em;
    max-width: 100% ;
}

.neck-label {
    text-align: center;
    font-size: 1.8em;
    color: #bbb;
}


.fretNumber-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 4em;
}

.fretNumber {
   width: 5em;
   text-align: center;
}

.fret {
    position: relative;
    width: 5em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    border-right: 1px solid #111;
    border-left: 1px solid #222;
}



.string-open {
    border-left:1px solid #222
}

.string-open::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10%;
    background-color: #555; 
    transform: translateY(-50%);
    z-index: 50;
    height: 1px;
}

.string-fret::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #888; 
    transform: translateY(-50%);
    z-index: 50;
    height: 1px;
}

.fretMarker {
    display: none;
    width: auto;
    background-color: #333;
    height: 90%;
    border-radius: 50%;
    aspect-ratio: 1/1;   
    color: #ccc;
    font-weight: 500;
    z-index: 51;
    font-size: 0.8rem;
}

.fretMarker_active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fretMarker-root {
    background-color: var(--red);
    color: #111111;
    font-weight: 800;
}

.fretMarker-highlight {
    background-color: var(--green);
    color: #111111;
    font-weight: 800;
}

.fretMarker-added {
    background-color: var(--green);
    color: #111111;
    font-weight: 800;
}
